.history-content .sec-header .input-search-group{ top: 0; right: 10px; }
.history-content .history-body{
    position:relative
}
.history-content .sec-header>.wrap{

    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
.history-content .sec-header>.wrap>div{

}
.history-content .sec-header>.wrap>div:nth-of-type(4){
    margin-left:auto
}
.history-content .sec-header .form-inline{
    flex:1;
.history-content .sec-header .form-control{
    height:3.6rem
}
.history-content .sec-header .btn{
    padding:1rem 1.5rem
}
@media (max-width: 767px){
   
}
@media (max-width: 567px){
    .history-content .sec-header>.wrap>div:nth-of-type(1),.history-content .sec-header>.wrap>div:nth-of-type(2){
        flex:0 0 100%;
        margin:0 0 2rem
    }
    .history-content .sec-header .input-search-group{ top: 50%; right: 0;}

    .history-content .sec-header>.wrap>div:nth-of-type(4) .input-search-group{
        top:auto;
        margin-top:1.8rem
    }
}
.history-content .table>thead>tr th,.history-content .table>thead>tr td,.history-content .table>tbody>tr th,.history-content .table>tbody>tr td{
    text-align:center;
    white-space:nowrap
}
.history-content .date-from,.history-content .date-to{
    position:relative;
<<<<<<< HEAD

=======
    padding-left: 1rem;
>>>>>>> 916d288d2a5cf7442e1921705fdf53d810480c5d
}
.history-content .date-from,.history-content .date-to{
    position:relative;
    font-size:2rem;
    top:-0.1rem
}
.history-content .date-from .ui-datepicker-trigger,.history-content .date-to .ui-datepicker-trigger{
    position:absolute;
    top:50%;
    left:2rem;
    color:#747474;
    background:none;
    border:0;
    padding:0;
    font-size:2.4rem;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
    -moz-transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%)
}
.history-content .date-from input,.history-content .date-to input{
<<<<<<< HEAD
    padding-left:1rem;
=======
    max-width: 120px;
    text-align: center;
>>>>>>> 916d288d2a5cf7442e1921705fdf53d810480c5d
}
.history-content .btn-filter{
    padding:0 !important;
    background:transparent;
    color:#888;
    font-weight:normal
}
.history-content .btn-filter i{
    font-size:1rem;
    margin-left:0.5rem
}
.ui-widget.ui-widget-content{
    z-index:9999 !important
}
@media (max-width: 639px){
    .history-content .date-from,.history-content .date-to{
        margin-bottom: 0;
    }
    .history-content .date-from input,.history-content .date-to input{
        max-width: 90px;
        text-align: center;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
} 
@media (max-width: 374px){
    .history-content .date-from input,.history-content .date-to input{
        max-width: 70px;
        text-align: center;
        font-size: 1rem;
    }
    .history-content .sec-header .btn{
        font-size: 1.2rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
} 

