.section-register-login{
    background:#0b1f34
}
.section-register-login .title{
    font-size:2.5rem;
    font-weight:bold;
    margin-bottom:1rem !important;
}

.section-register-login p{
    font-size:1.5rem;

}
.section-register-login .inner{
    background:#0b1f34;
    margin-right:0;
    padding-top:8rem;
    padding-bottom:9.9rem
}
.section-register-login .reset-password-g{
    text-align:right;
    font-size:1.3rem;
    margin-bottom:3rem
}
.section-register-login .reset-password-g .link-reset-password{
    color:#b2b2b2;
    text-decoration:none
}
.section-register-login .form-md-group{
    margin-top:2.5rem;
    margin-bottom:2.5rem
}
.section-register-login .form-md-group .form-control{
    background:transparent;
    color:#fff !important;
    border-bottom:1px solid rgba(255,255,255,0.2)
}
.section-register-login .form-md-group select.form-control{
    color:#888 !important
}
.section-register-login .form-md-group.no-form-control{
    border-bottom:1px solid rgba(255,255,255,0.2)
}
.section-register-login .ref-info{
    margin:0;
    padding:0;
    display:flex;
    flex-wrap:wrap
}
.section-register-login .ref-info dt,.section-register-login .ref-info dd{
    margin:0;
    padding:0;
    font-weight:normal
}
.section-register-login .ref-info dt{
    padding-right:0.5rem;
    color:rgba(255,255,255,0.5)
}
.section-register-login .ref-info dd{
    color:#ffc107
}
.section-register-login .form-login-button{
    margin-bottom:0.75rem
}
@media (max-width: 979px){
    .section-register-login .inner{
        -ms-background-size:auto 60%;
        -moz-background-size:auto 60%;
        -webkit-background-size:auto 60%;
        background-size:auto 60%
    }
}
@media (max-width: 767px){
    .section-register-login{
        background:#0b1f34
    }
    .section-register-login .inner{
        margin-right:0;
        -ms-background-size:auto 50%;
        -moz-background-size:auto 50%;
        -webkit-background-size:auto 50%;
        background-size:auto 50%
    }
    .section-register-login .inner .section-form-inner{
        margin-left:auto
    }
}
@media (max-width: 640px){
    .section-register-login .inner{
        margin-right:0;
        -ms-background-size:auto 50%;
        -moz-background-size:auto 50%;
        -webkit-background-size:auto 50%;
        background-size:auto 50%
    }
    .section-register-login .inner .section-form-inner{
        margin-left:auto
    }
}
@media (max-width: 639px){
    .section-register-login{
        padding-top:4rem;
        padding-bottom:4rem
    }
    .section-register-login .title{
        margin-bottom:3.2rem
    }
    .section-register-login .form-group-info{
        margin-top:1rem
    }
    .section-register-login .btn-social-list{
        margin-top:0.2rem;
        padding-top:4rem;
        border-top:1px solid #1a2f44
    }
    .section-register-login .btn-social-list ul{
        margin-left:-2rem;
        margin-right:-2rem
    }
    .section-register-login .btn-social-list ul>li{
        padding-left:2rem;
        padding-right:2rem
    }
    .section-register-login .inner{
        padding-top:0;
        padding-bottom:0
    }
}
@media (max-width: 567px){
    .section-register-login .inner{
        -ms-background-size:auto 35%;
        -moz-background-size:auto 35%;
        -webkit-background-size:auto 35%;
        background-size:auto 35%
    }
}
 